html {
	font-family: Verdana;
	background-color: black;
	text-align: center;
}
h1 {
	font-weight: normal;
	font-size: 50px;
	color: white;
}
.link {
	color: aquamarine;
	font-size: 16px;

}
h2 {
	font-weight: 300;
	font-size: 42px;
	color: white;
}
img {
	margin: auto;
	display: block;
}
h3 {
	font-size: 21px;
	color: gray;
	font-weight: normal;
}
.copyright {
	text-align: right;
	color: gray;
}